import Config

config :ptolemy, Ptolemy.Repo,
  password: "Postgres password from .env goes here"

config :ptolemy, Ptolemy.Keys
  secret_key_base: "large random string"
  
config :ptolemy, MailJet,
  api_key:  "fill me in",
  api_secret: "fill me in"
