import Config

config :ptolemy, Ptolemy.Repo,
  password: "Postgres password from .env goes here"

config :ptolemy,
  secret_key_base: "large random string",
  encryption_salt: "relatively small string",
  signing_salt: "relatively small string"
  
config :ptolemy, MailJet,
  api_key:  "fill me in",
  api_secret: "fill me in"
