<header class="px-4 sm:px-6 lg:px-8">
  Here is a very empty header
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <p>And here is where the very empty content lives.</p>
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
